In [2]:
import pandas as pd

In [3]:
forum_users = {
    'User ID': [1, 2, 3, 4, 5],
    'Username': ['vladimer_p', 'jane_smith', 'alex123', 'bob56', 'mark_wilson'],
    'Age': [18, 35, 25, 38, 45], 
    'Joined Date': ['2032-01-01', '2032-02-15', '2032-04-25', '2032-06-21', '2032-09-15'],
    'Total Posts': [150, 230, 80, 420, 310],
    'Reputation': [500, 720, 200, 940, 500]
}

df = pd.DataFrame(forum_users)
df

   User ID     Username  Age Joined Date  Total Posts  Reputation
0        1   vladimer_p   18  2032-01-01          150         500
1        2   jane_smith   35  2032-02-15          230         720
2        3      alex123   25  2032-04-25           80         200
3        4        bob56   38  2032-06-21          420         940
4        5  mark_wilson   45  2032-09-15          310         500