In [49]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [50]:
import pandas as pd
import numpy as np

In [51]:
np.random.seed(1)
n = 100
dates = pd.date_range(start='2050-01-01', periods=n, freq='D')
products = np.random.choice(['Tablet', 'Camera', 'Phone', 'Microphone', 'Keyboard'], n)
prices = np.round(np.random.uniform(50.0, 200.0, n), 2)
quantities = np.random.randint(1, 15, n)

data = {
    'Date': dates,
    'Product': products,
    'Price': prices,
    'Quantity': quantities
}
df = pd.DataFrame(data)
df.head()

        Date     Product   Price  Quantity
0 2050-01-01  Microphone  147.16         7
1 2050-01-02    Keyboard  103.09        10
2 2050-01-03      Tablet  164.48         7
3 2050-01-04      Camera  103.48         1
4 2050-01-05  Microphone  162.92         1

In [52]:
df.dtypes

Date        datetime64[ns]
Product             object
Price              float64
Quantity             int64
dtype: object

In [53]:
df.to_csv('random_sales.csv', index=False)

In [54]:
df = pd.read_csv('random_sales.csv', parse_dates=['Date'], date_format='%Y-%m-%d')
df.head()

        Date     Product   Price  Quantity
0 2050-01-01  Microphone  147.16         7
1 2050-01-02    Keyboard  103.09        10
2 2050-01-03      Tablet  164.48         7
3 2050-01-04      Camera  103.48         1
4 2050-01-05  Microphone  162.92         1

In [55]:
df.dtypes

Date        datetime64[ns]
Product             object
Price              float64
Quantity             int64
dtype: object

In [56]:
df.to_excel('sales_data.xlsx')

In [57]:
df.to_json('sales_data.json')

In [58]:
df.shape

(100, 4)

In [59]:
df.describe().round(2)

                      Date   Price  Quantity
count                  100  100.00    100.00
mean   2050-02-19 12:00:00  117.32      7.79
min    2050-01-01 00:00:00   51.35      1.00
25%    2050-01-25 18:00:00   81.13      5.00
50%    2050-02-19 12:00:00  114.10      8.00
75%    2050-03-16 06:00:00  161.21     11.25
max    2050-04-10 00:00:00  197.26     14.00
std                    NaN   42.47      4.03

In [60]:
df.values[:5]

array([[Timestamp('2050-01-01 00:00:00'), 'Microphone', 147.16, 7],
       [Timestamp('2050-01-02 00:00:00'), 'Keyboard', 103.09, 10],
       [Timestamp('2050-01-03 00:00:00'), 'Tablet', 164.48, 7],
       [Timestamp('2050-01-04 00:00:00'), 'Camera', 103.48, 1],
       [Timestamp('2050-01-05 00:00:00'), 'Microphone', 162.92, 1]],
      dtype=object)

In [61]:
df.groupby('Product')['Quantity'].sum()

Product
Camera        186
Keyboard      173
Microphone    106
Phone         124
Tablet        190
Name: Quantity, dtype: int64

In [62]:
df.groupby('Product')['Price'].mean().round(2)

Product
Camera        121.54
Keyboard      115.61
Microphone    129.43
Phone         123.47
Tablet        100.17
Name: Price, dtype: float64